@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #2b2c2b;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #bbbbbb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  height: calc(100vh - 12px);
}

hr {
  height: 3px;
}

/* scrollbar custom */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2b2c2b;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
/* 스크롤바들이 만나는 하단 모서리 */
::-webkit-scrollbar-corner {
  background: transparent;
}

.Pane1,
.Pane2 {
  overflow: auto;
  position: static;
  /* height: calc(100% - 120px); */
  min-width: 0%;
  min-height: 0%;
  height: 100%;
}

.Resizer {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 4px;
  margin-bottom: -7px;
  cursor: row-resize;
  width: 100vw;
  border-radius: 5px;
}

.Resizer.horizontal:hover {
  /* border-top: 2px solid greenyellow;
  border-bottom: 2px solid greenyellow; */
  background-color: greenyellow;
  background-size: 2px;
}

.Resizer.vertical {
  width: 4px;
  height: 100vh;
  margin-right: -7px;
  cursor: col-resize;
  border-radius: 5px;
}

.Resizer.vertical:hover {
  /* border-left: 2px solid greenyellow;
  border-right: 2px solid greenyellow; */
  background-color: greenyellow;
  background-size: 2px;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

code {
  font-family: "JetBrains Mono", "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.kSMuXp {
  padding: 0 20px 0 20px !important;
}

.terminalContainer form {
  font-family: "JetBrains Mono", "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.terminalContainer input {
  font-family: "JetBrains Mono", "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.terminalContainer span {
  font-family: "JetBrains Mono", "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.terminalContainer div {
  font-family: "JetBrains Mono", "Pretendard Variable", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

textarea::-webkit-resizer {
  border-width: 5px;
  border-style: solid;
  border-color: transparent #797979 #797979 transparent;
  border-radius: 0 0 5px 0;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

/* autofill bg */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-text-fill-color: #fff !important;
}

/* text selection color */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #a34dc1;
}

::selection {
  color: white;
  background: #a34dc1;
}

.css-14gcpgt-MuiTreeView-root p {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.contexify-crow {
  --contexify-menu-bgColor: rgba(40, 40, 40, 0.98);
  --contexify-separator-color: #4c4c4c;
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #786f7b;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
}
